{% extends 'base.html.twig' %}

{% block title %}New ImageProduit{% endblock %}

{% block body %}
    <h1>Create new ImageProduit</h1>

    {{ include('image_produit/_form.html.twig') }}

    <a href="{{ path('app_image_produit_index') }}">back to list</a>
{% endblock %}
